{% include head.html %}
{% include header.html %}

    {% comment %}
      Work out current day and a week ahead from that
    {% endcomment %}

    {% assign day_zero_sec = 'now' | date: '%s' | plus: 0 %}
    {% assign day_zero = day_zero_sec | date: '%A %e, %b' %}

    {% assign day_one = day_zero_sec | plus: '86400' | date: '%A %e, %b' %}
    {% assign day_two = day_zero_sec | plus: '172800' | date: '%A %e, %b' %}
    {% assign day_three = day_zero_sec | plus: '259200' | date: '%A %e, %b' %}
    {% assign day_four = day_zero_sec | plus: '345600' | date: '%A %e, %b' %}
    {% assign day_five = day_zero_sec | plus: '432000' | date: '%A %e, %b' %}
    {% assign day_six = day_zero_sec | plus: '518400' | date: '%A %e, %b' %}
    {% assign day_seven = day_zero_sec | plus: '604800' | date: '%A %e, %b' %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>Art Events</h1>

        {% for post in site.posts %}

          {% comment %}
            Check post is within date range and group posts together
          {% endcomment %}

          {% assign dateStart = post.event_d | date: '%s' %}
          {% assign nowTimestamp = 'now' | date: '%s' %}

          {% comment %} difference in seconds {% endcomment %}
          {% assign diffSeconds = dateStart | minus: nowTimestamp %}

          {% comment %} difference in days {% endcomment %}
          {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}

          {% if diffDays <= 7 and diffDays >= -1 %}

            {% assign eventDay = dateStart | date: '%A %e, %b' %}

          {% endif %}


          <!--
          {{ post.title }}
          {{ post.event_d }}
          {{ post.location }}
          {{ post.category }}
          {{ post.start_t }}
          {{ post.more_info }}
          {{ post.more_info }} -->

        {% endfor %}

        <div id="page-data" data-view-react-page="{{ site.posts | jsonify | escape }}"></div>
        <div id="react-test"></div>

      </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.js" integrity="sha256-de4erznIozbU4acWYIEp6BsfvDkdztG9L60q7x0gy1Y=" crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

{% include footer.html %}
